body {
	
	font-size: 14px !important;
}
.avatar {
	padding-top: 10px;
    padding-bottom: 10px;
}

.avatar img {
width: 135px;
border: 1px solid #f2f2f2;
border-radius: 50px;
padding: 5px;
}

.profile-info {
	padding-bottom: 0px;
        display: block
}

 .user-bg {
	padding: 10px;
}

.line {
	border-bottom: 1px solid #dee2e6;
	font-size: 1em;
	color: #333;
    font-weight: 600;
	margin-bottom: 5px;
}
.profile-info div p{
	margin-bottom: 0px;
        display: block
}

.profile-info div p:last-child{
	margin-bottom: 5px;
	font-weight: 500;
        display: block
}
