@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
body {
  margin: 0;
}
div#slider {
  overflow: hidden;
}
div#slider figure img {
  border-radius: 20px;
  width: 20%;
  display: block;
  float: left;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}
body{ 
	font-size: 14px !important;
}
.avatar {
	padding-top: 10px;
    padding-bottom: 10px;
}

.avatar img {
width: 135px;
border: 1px solid #f2f2f2;
border-radius: 50px;
padding: 5px;
}

 .user-bg {
	padding: 10px;
}

.header {
    background: black;
    text-align: center;
}

.iconlink {
    background: white;
    text-align: center; 
}

.footer-bottom {
  padding-bottom: 25px;
  text-align: center;
}

.footer-bottom a {
  font-size: 32px;
  line-height: 40px;
}
body {
  text-align: center;
  font-variant: small-caps;
}
